#custom-card{
     background-color: white;
     max-width: 60rem;
     color: black;
     border-radius: 10px;
   }
  
#test{
     background-color: black;
     
}
#button_1{
     background-color: #6f42c1; 
}
#button_2{
     background-color: #68E3D2; 
}
#button_2:disabled{
     background-color: darkgrey;
}
#button_3{
     background-color: #FF3144; 
}
#button_4
{
     background-color: #85EA72;
}
@media only screen and (max-width: 900px) {
     .col-remove{
         display: none;
     }
 }